*{
    margin: 0%;
    padding: 0%;
}
.Home{
    display: flex;
    background-color: lightblue;
    bottom: 50px;
    
}

.Container{
    background-color: lightcoral;
    padding-left: 150px;        
    display: flex;
    color: red;
    justify-content: center;
}