.Card{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    background-color:rgb(255, 0, 0);
    border-radius: 15px;
    width: 15rem;
    height: 10rem;
    box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.97);
    -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.97);
    -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.97);
    transition: transform 1,9s;
}

.Card:hover{
    transform:scale(1.1);
}

.h5{
    padding-top: 100px;
    font-size: 15px;
    color: white;
}

.h1{
    font-size: 60px;
    color: white;
}