@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
.Container{
    background-color: #dbdbdb;  
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding-left: 270px;
    height: 100vh;
    padding-top: 0%;
}

.h1{
    background-color: #1C2833;
    height: 69px;
    border-bottom: 2px solid white;
    color: white;
    padding-left: 250px;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    padding-top: 10px;
    padding-bottom: 6px;
    margin: 0%;
    text-align: center;
}