@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.sidebar{
    background-color: #1C2833;    
    width: 150px;
    height: 100%;
    position:fixed;    
    font-family: 'Rubik', sans-serif;
    padding-top: 50px;
    border-right: 2px solid grey;
    padding-bottom: 10px;
}

.li{
    text-decoration: none;
    list-style: none;
}

.Li{
    
    text-decoration: none;
    color: white;
}