@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.Container{
     display: block;
    justify-content: center; 
    font-family: 'Rubik', sans-serif;
    padding-bottom: 20px;
    margin-right: '20px';
    background-color: #566573;
}

.rdt_Table {        
        padding-left: 155px; 
        background-color: #566573;       
}