.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display: flex;
}

.modal-container{
    position: relative;
    background-color: #fff;
    min-width: 420px;
    max-width: 480;
    max-height: 200px;
    min-height: 500px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modal-close{
    position: absolute;
    right: 1rem;
    top: 1rem;
}