.itemContainer {
  border-bottom: 1px solid #c4c4c4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem;
  padding: 1rem;
}
@media (max-width: 900px) {
  .itemContainer {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
}
.itemContainer .itemBook {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  text-align: start;
  align-items: center;
}
.itemContainer .itemBook h4,
.itemContainer .itemBook p {
  font-size: 16px;
  margin: 10px 2rem;
}
.itemContainer .itemBook img {
  width: 8rem;
}
.itemContainer .prices {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.itemContainer .prices p {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
.itemContainer .prices .priceChange {
  border: 1px solid #141483;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}
.itemContainer .prices button {
  background-color: white;
  text-align: center;
  color: #141483;
  font-size: 40px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
}
.itemContainer .prices input[type="number"] {
  outline: none;
  width: 2rem;
  text-align: center;
  align-items: center;
  font-size: 15px;
  padding: 2px 0px 2px 12px;
  border: none;
}
.itemContainer .icon:hover {
  cursor: pointer;
  color: #9292ff;
}
.itemContainer .delete:hover {
  color: #d12d2d;
}
