
.comments{
  border: solid black;
  margin: 5px 0px 5px 0px;
  padding: 5px;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
.all {
  font-family: 'Source Sans Pro', sans-serif;
}
.all .commentTitle {
  text-align: center;
}
.all .commentTitle p {
  margin-bottom: 10px;
  font-size: 20px;
}
.container__info {
  box-shadow: 5px 5px 20px -2px black;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  padding: 2rem 3rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0 2rem;
}
@media (max-width: 800px) {
  .container__info {
    flex-direction: column;
  }
  .container__info .image {
    border: none;
    align-items: flex-start;
  }
}
.container__info .image {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 1rem;
  border-right: 1px solid #c4c4c4;
}
@media (max-width: 800px) {
  .container__info .image {
    flex-direction: row;
    border: none;
    align-items: center;
    padding: 10px;
  }
  .container__info .image img {
    max-width: 10rem;
  }
}
@media (max-width: 500px) {
  .container__info .image {
    flex-direction: column;
  }
}
.container__info .image img {
  width: 15rem;
  border-radius: 10px;
}
.container__info .genres {
  display: flex;
}
.container__info .genres .genre {
  margin-right: 2rem;
}
.container__info .info {
  margin: 1rem;
}
.formReview {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}
.formReview input {
  width: 800px;
  border: 1px solid #c4c4c4;
  font-size: 20px;
  padding: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 20px;
  outline: #da6464;
}
.formReview input:focus {
  border: 2px solid #da6464;
}
.formReview button {
  font-size: 20px;
  background-color: #d85353;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  outline: none;
  padding: 0px 10px;
  height: 3rem;
  margin: auto;
}
.formReview button:hover {
  background-color: #521616;
  cursor: pointer;
}
