.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
.comments {
  margin: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
}
.iconEdit:hover {
  color: #83a0d4;
}
.report {
  text-align: center;
  align-items: center;
  font-size: 15px;
  padding: 5px 10px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  color: #5a3333;
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
}
.report:hover {
  background-color: #a15252;
  color: white;
}
.all {
  font-family: 'Source Sans Pro', sans-serif;
}
.all .commentTitle {
  text-align: center;
}
.all .commentTitle p {
  margin-bottom: 10px;
  font-size: 20px;
}
.container__info {
  box-shadow: 5px 5px 20px -2px black;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  padding: 2rem 3rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0 2rem;
}
@media (max-width: 800px) {
  .container__info {
    flex-direction: column;
  }
  .container__info .image {
    border: none;
    align-items: flex-start;
  }
}
.container__info .image {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 1rem;
  border-right: 1px solid #c4c4c4;
}
@media (max-width: 800px) {
  .container__info .image {
    flex-direction: row;
    border: none;
    align-items: center;
    padding: 10px;
  }
  .container__info .image img {
    max-width: 10rem;
  }
}
@media (max-width: 500px) {
  .container__info .image {
    flex-direction: column;
  }
}
.container__info .image img {
  width: 15rem;
  border-radius: 10px;
}
.container__info .genres {
  display: flex;
}
.container__info .genres .genre {
  margin-right: 2rem;
}
.container__info .info {
  margin: 1rem;
}
.formReview {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 1rem;
  font-family: 'Roboto Flex', sans-serif;
  margin: auto;
  width: 800px;
}
.formReview .spanSelect {
  text-align: justify;
  color: #d85353;
  margin-bottom: 5px;
  margin-top: 5px;
}
.formReview select {
  width: fit-content;
  font-family: 'Roboto Flex', sans-serif;
  border: 1px solid #c4c4c4;
  outline: none;
  padding: 5px;
  text-align: left;
  font-size: 18px;
}
.formReview select:hover {
  color: #d85353;
  cursor: pointer;
}
.formReview select:hover option {
  color: black;
}
.formReview label {
  margin: 20px 0;
  text-align: justify;
}
.formReview textarea {
  border: 1px solid #c4c4c4;
  font-size: 20px;
  padding: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 20px;
  outline: #da6464;
}
.formReview textarea:focus {
  border: 2px solid #da6464;
}
.formReview button {
  font-size: 20px;
  background-color: #d85353;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  outline: none;
  padding: 0px 10px;
  height: 3rem;
  margin: 20px auto;
}
.formReview button:hover {
  background-color: #521616;
  cursor: pointer;
}

.buttonAdmin{
  padding: 5px;
  background-color: white;
  border: 2px solid #001044;
  font-family: 'Merriweather';
  border-radius: 5px;
  cursor: pointer;
}
.buttonAdmin:hover{
  background-color: #001044;
  color: white;
}

.admin input{
  padding: 5px;
  background-color: white;
  border: 2px solid #001044;
  font-family: 'Merriweather';
  border-radius: 5px;
  cursor: pointer;
}
.admin{
  margin-top: 5px;
}
.icons{
 
   color:"#001044";
   padding-left: 3px;
}