.Card{
        display:block;
        align-items: center;
        margin-top: 30px;
        background-color: #d85353;
        border-radius: 15px;
        width: 15rem;
        height: 10rem;
        box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.97);
        -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.97);
        -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.97);
        transition: transform 1,9s;
        
}

.Card:hover{
        transform:scale(1.1);
}

.h5{
       
        font-size: 15px;
        color: white;
        padding-left: 26%;
        padding-top: 15px;
}

.h1{
        font-size: 60px;
        color: white;
        padding-left: 28%;
}