.fieldAddress {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.addCont{
    border: 1px solid gray;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
}
.errorSpan {
    background-color: rgba(153, 16, 16, 0.849);
    border-radius: 10px;
    margin-left: 18rem;
    margin-top: -3px;
    color: white;
    padding: 5px;
    z-index: 100;
    position: fixed;
}

.fieldAddress label{
    margin: 0 10px;
    font-size: 20px;
}
.fieldAddress input{
    border-radius: 5px;
    outline: 0;
    border: 1px solid gray;
}