.homeContainer {
  background: #ffe8f2;
  background: linear-gradient(148deg, #ffe8f2 0%, #d8fffb 31%, #ffffff 58%, #ffe8f2 83%);
}
.catalogue {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 3rem;
  padding: 1rem;
  border-radius: 10px;
}
@media (max-width: 1224px) {
  .catalogue {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .catalogue {
    grid-template-columns: repeat(1, 1fr);
  }
}
