.containerCreate {
  display: block;
}
h2 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}
.categoriesSelected {
  box-shadow: 5px 5px 40px -2px black;
  border-radius: 10px;
  margin-left: 29rem !important;
  margin-top: -100px;
  color: black;
  padding: 10px;
  position: absolute;
}
.categoriesSelected label {
  margin-bottom: 10px !important;
}
.categoriesSelected button {
  margin: 0 !important;
}
.formContainer {
  display: block;
  background-color: white;
  padding: 2rem 0;
  max-width: min-content;
  margin: auto;
}
.formInfo {
  border: 1px solid #c4c4c4;
  box-shadow: 5px 5px 20px -2px black;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  text-align: justify;
  align-items: flex-start;
  min-width: 400px;
  max-width: 600px;
  margin-left: 18%;
  background-color: white;
}
.formInfo h2 {
  margin: 0 auto 20px auto;
}
@media (max-width: 700px) {
  .formInfo {
    min-width: 300px;
    max-width: 400px;
    margin: 0 0 0 33% !important;
  }
}
@media (max-width: 950px) {
  .formInfo {
    margin-left: 25%;
  }
}
@media (max-width: 850px) {
  .formInfo {
    margin-left: 23%;
  }
}
.formInfo .field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  margin-left: 20%;
}
@media (max-width: 700px) {
  .formInfo .field {
    margin-left: 15%;
  }
}
.formInfo .field select {
  border: none;
  background-color: #d8d8d8;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding-left: 10px;
}
.formInfo .field button {
  margin: auto;
  background-color: #ff6868;
  outline: none;
  padding: 2px 0.7rem 3px 0.7rem;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid #c4c4c4;
  font-weight: 400;
}
.formInfo .field button:hover {
  background-color: #d41818;
  color: white;
  cursor: pointer;
}
.formInfo .field label {
  margin-right: 10px;
}
.formInfo .field input {
  outline: none;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  margin-left: 5px;
}
.formInfo .field input:focus {
  border-bottom: 1px solid #1C2833;
}
.formInfo .description {
  display: block;
  margin: 10px auto;
  text-align: center;
}
.formInfo .description textarea {
  text-align: left;
  font-size: 'Source Sans Pro', sans-serif;
  height: 200px;
  width: 300px;
  margin: 10px;
  font-size: 14px;
  line-height: 15px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}
.formInfo button {
  margin: auto;
  background-color: #98ff98;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid #c4c4c4;
  font-weight: 400;
}
.formInfo button:hover {
  background-color: #65b365;
  color: white;
  cursor: pointer;
}
.pastInfo {
  display: block;
  padding: 2rem 0;
  margin-left: 13%;
}
.pastInfo h1 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}
.errorMsg {
  position: absolute;
  z-index: 10;
  margin-left: 22%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  color: #c52020;
}
