.Container{
  width: calc(100vh + 35.89rem);
  margin-left: 150px; 
}
.iconDash:hover {
  cursor: pointer;
  color: white;
}
.newAddress {
  border: none;
  background-color: unset;
}
.iconTik:hover {
  color: rgb(50, 194, 50);
  cursor: pointer;
}
 .delete:hover {
  color: #d12d2d;
}
.sendorder {
  outline: none;
border: 1px solid gray;
font-size: 18px;
}
.sendorder:hover{
  background-color: rgba(143, 134, 134, 0.829);
  color: white;
  
}
.sendorder:hover .iconOrder{
color: rgb(109, 231, 109) !important;
}
.sendorder:focus{
  outline: green;
  
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #dbdbdb;}
  
  table tr:hover {background-color: rgb(160, 160, 160);}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #d85353;
    color: white;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1{
  background-color: #1C2833;
  height: 69px;
  border-bottom: 2px solid white;
  color: white;
  padding-left: 10%;
  font-size: 50px;
  font-family: 'Rubik', sans-serif;
  padding-top: 10px;
  padding-bottom: 6px;
  margin: 0%;
  text-align: center;
}