.Container{
  width: calc(100vh + 35.89rem);
  margin-left: 150px;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #dbdbdb;}
  
  table tr:hover {background-color: rgb(160, 160, 160);}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #d85353;
    color: white;
  }

  .selectora{
    border-radius: 10px;
    width: 100px;
    max-width: 100px;
    height: 50px;
    margin-right: 250px
    
  }

  .aviso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aviso h2{
    text-align: center;
  }

  .boton {
    background-color: red;
  }