.carousel:hover {
  cursor: pointer;
}
.carousel .newSlide {
  align-items: flex-start;
}
.carousel .newSlide img {
  height: 450px;
}
@media (max-width: 650px) {
  .carousel .newSlide img {
    max-height: 250px;
  }
}
