*{
    margin: 0%;
    padding: 0%;
}
.rdt_Table {        
    padding-left: 155px;    
    background-color: red;    
}


.h1{
    background-color: #dbdbdb;
    height: 69px;
    border-bottom: 2px solid black;
    color: black;
    padding-left: 10%;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    padding-top: 10px;
    padding-bottom: 6px;
    margin: 0%;
    text-align: center;
}