.navbar .search {
  align-items: flex-start;
  display: flex;
  padding: 10px;
}
.navbar .search .logo img {
  max-width: 2rem;
  max-height: 2rem;
  padding-right: 5px;
  border-right: 1px solid #c4c4c4;
  padding: 0 5px 15px auto;
}
.navbar .search .logo span {
  font-size: 28px;
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight: 600;
  color: #3f5497;
  margin: -20px 6px 10px 6px;
}
.navbar .logoBar {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  font-family: 'Source Sans Pro', sans-serif;
}
.navbar .logoBar .sideBar {
  display: flex;
  margin-bottom: -200px;
  align-items: flex-start;
}
.navbar .logoBar .sideBar .menu {
  padding: 1rem;
}
.navbar .logoBar .links {
  display: flex;
  justify-content: space-evenly;
}
.navbar .logoBar .links .loggedUser {
  margin: 10px 1rem;
}
.navbar .logoBar .links p {
  background-color: #6c8eff;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin-top: -20px;
  margin-left: 30px;
  margin-right: -30px;
  padding: 1px 0 2px 0;
  width: 20px;
}
@media (max-width: 900px) {
  .navbar .logoBar {
    display: flex;
    flex-direction: column-reverse;
  }
}
.navbar .logoBar a {
  text-decoration: none;
  color: #001044;
}
.navbar .logoBar .log {
  color: #001044;
  margin: 18px 20px 0 30px;
  align-items: center;
}
.navbar .logoBar .log:hover {
  cursor: pointer;
}
.navbar .logoBar .log span {
  margin: 5px;
}
