
#mapita {
    width: 500px !important;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(19, 17, 17, 0.7);
    height: 281px;
    margin: 5px;
}
.mapboxgl-canvas{
    width: 500px !important;
    height: 281px !important;
}

.title{
    margin: 0 !important ;
    padding: 0 !important ;
    
}
.LoginFormm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#001044;
  
    
  }
  .globalDiv{
    display: flex;
    flex-direction: row;
    margin: 10px;
  }

  .LoginFormm .fieldLogg {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }
  .fieldLogg input {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px ; 
    border: none;
    border-bottom: 2px solid #4fb8b8;
    background-color: unset;
    outline: none;
    margin: 10px 0px;
   
  }
 .fieldLogg input:focus {
    border-bottom: 2px solid #3735bd;
  }
  .fieldLogg label {
    font-family: 'Merriweather', serif;
    font-size: 17px ;
  }

  .modal-containerr:hover {
    cursor: default;
  }
  .modal-containerr button {
    font-size: 20px;
    outline: none;
    padding: 4px 10px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    background-color: #f86a6a;
    color: white;
  }
  .modal-containerr button:hover {
    background-color: #d85353;
    cursor: pointer;
  }
  .errorsMap{
    font-size: 7px;
    color: red;
    padding: 0 !important;
    margin: 0.5px !important;
  }