@import './variables.less';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;

}

.comments {
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
}

.iconEdit {
    &:hover {
        color: rgb(131, 160, 212);
    }
}

.report {
    font-size: 15px;
    padding: 5px 10px;
    font-family: @Source;
    cursor: pointer;
    color: rgb(90, 51, 51);
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;

    &:hover {
        background-color: rgb(161, 82, 82);
        color: white;
    }
}

.all {

    font-family: @Source;

    .commentTitle {
        text-align: center;

        p {
            margin-bottom: 10px;
            font-size: 20px;
        }
    }
}

.container__info {
    box-shadow: 5px 5px 20px -2px black;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    padding: 2rem 3rem;
    font-family: @Source;
    font-weight: 400;
    margin: 0 2rem;

    @media (max-width: 800px) {
        flex-direction: column;

        .image {
            border: none;
            align-items: flex-start;
        }
    }

    .image {
        @media (max-width: 800px) {
            flex-direction: row;
            border: none;
            align-items: center;
            padding: 10px;

            img {
                max-width: 10rem;
            }
        }

        @media (max-width: 500px) {
            flex-direction: column;
        }

        display: flex;
        align-items: flex-end;
        flex-direction: column;
        padding-right: 1rem;
        border-right: 1px solid @borderColor;

        img {
            width: 15rem;
            border-radius: 10px;
        }
    }

    .genres {
        display: flex;

        .genre {
            margin-right: 2rem;
        }
    }

    .info {
        margin: 1rem;
    }
}

.formReview {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 1rem;
    font-family: @Roboto;
    margin: auto;
    width: 800px;

    .spanSelect {
        text-align: justify;
        color: @mainColor;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    select {
        width: fit-content;
        font-family: @Roboto;
        border: 1px solid @borderColor;
        outline: none;
        padding: 5px;
        text-align: left;
        font-size: 18px;

        &:hover {
            color: @mainColor;
            cursor: pointer;

            option {
                color: black;
            }
        }
    }

    label {
        margin: 20px 0;
        text-align: justify;
    }


    textarea {
        border: 1px solid @borderColor;
        font-size: 20px;
        padding: 1rem;
        font-family: @Source;
        border-radius: 20px;
        outline: rgb(218, 100, 100);

        &:focus {
            border: 2px solid rgb(218, 100, 100);
        }

    }

    button {
        font-size: 20px;
        background-color: @mainColor;
        color: white;
        font-family: @Source;
        border-radius: 10px;
        border: 1px solid @borderColor;
        outline: none;
        padding: 0px 10px;
        height: 3rem;
        margin: 20px auto;

        &:hover {
            background-color: rgb(82, 22, 22);
            cursor: pointer;
        }
    }
}