.carousel {

    &:hover {
        cursor: pointer;
    }

    .newSlide {
        align-items: flex-start;

        img {
            height: 450px;

            @media (max-width: 650px) {
                max-height: 250px;
            }
        }
    }
}