@import './variables.less';


.items {
    margin: 0 3rem;
    border-radius: 10px;
    border: 1px solid @borderColor;
    background-color: white;
}

.cart {
    padding: 2rem;
    background-color: rgb(223, 208, 208);

}

.empty {
    display: block;
    margin: auto;
    align-items: center;
    text-align: center;
    font-family: @Roboto;
    font-size: 25px;

    h1 {
        margin: 0;
    }

    img {
        width: 50%;
        margin: auto;
    }
}

.subTotal {
    display: flex;
    text-align: end;
    justify-content: end;
    font-family: @Roboto;
    align-items: center;

    h3 {
        font-size: 30px;
        margin: 0 2rem 1rem 2rem;
    }

    span {
        font-size: 18px;
    }

    p {
        font-size: 25px;
        margin: 0 2rem 1rem 2rem;
    }
}

.newAddressCont {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: flex-start;

    h4 {
        width: 100%;
        text-align: center;
        font-size: 25px;
    }

    select {
        width: 100%;
        padding: 2px;
        font-size: 16px;
        border-radius: 10px;
        border: 1px solid gray;
        outline: none;
    }
}

.continue {
    a {
        text-decoration: none;
    }

    justify-content: center;

    p {
        font-family: @merri;
        padding: 12px 10px;
        margin-top: 1rem;
        border-radius: 10px;
        background-color: #d12d2d;
        color: white;
        font-size: 18px;


    }


    @media (max-width: 900px) {
        flex-direction: column;
    }

    .keep {
        &:hover {
            background-color: #c91313;
            cursor: pointer;
            color: rgb(255, 185, 185);
        }
    }

    .checkout {
        background-color: rgb(28, 28, 156);

        &:hover {
            background-color: rgb(81, 81, 250);
            cursor: pointer;
            color: rgb(203, 191, 255);
        }
    }
}