@import './variables.less';

.navbar {


    .search {
        align-items: center;
        display: flex;
    }

    .logoBar {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: @Source;

        .links {
            display: flex;
            justify-content: space-evenly;
        }

        @media (max-width: 800px) {
            display: flex;
            flex-direction: column-reverse;
        }

        a {
            text-decoration: none;
            color: rgb(0, 16, 68);

        }

        .log {
            display: flex;
            align-items: center;

            span {
                margin: 5px;
            }
        }
    }
}