.searchbar {
    display: flex;
    justify-content: center;

    .search {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        font-size: 20px;
        padding: 10px;
        border: 1px solid gray;
        border-right: none;
        outline: none;
    }

    button {
        background-color: antiquewhite;
        border: 1px solid gray;
        outline: none;
        padding: 0 1rem;
        border-left: none;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
}